<h1>Add a new prehistoric creature</h1>

<form action="/prehistoric_creatures" method="POST"> 
    <label for="preType">Type</label>
    <input type="text" name="type" id="preType">
    
    <label for="preImage">Image</label>
    <input type="text" name="name" id="preImage">
    
    <input type="submit">
</form>